/* Styles */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.padding-all {
  padding-right: 200px;
  padding-left: 200px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.title-section {
  color: #002B63;
  font-size: 35px;
  font-weight: 550;
}

.title-link {
  color: #00B9FF;
  padding-left: 35px;
  font-size: 14px;
}

.service-title {
  color: #fff;
  font-weight: 500;
  font-size: 19px;
}

/* Categorii */
.categorii .categori-container .categori-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  margin-bottom: 40px;
}

.categorii .categori-container .owl-carousel .item .item-prop {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 45vh;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  padding: 20px 30px;
}

.categorii .categori-container .owl-carousel .item .item-prop.item-pexels1 {
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(0, 0, 0, 0.336)), color-stop(50%, rgba(0, 0, 0, 0.342)), color-stop(75%, rgba(0, 0, 0, 0.322)), to(rgba(0, 0, 0, 0.315))), url("../pexels-photo-1254140.jpeg");
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.336) 25%, rgba(0, 0, 0, 0.342) 50%, rgba(0, 0, 0, 0.322) 75%, rgba(0, 0, 0, 0.315) 100%), url("../pexels-photo-1254140.jpeg");
  background-size: cover;
  background-position: center;
}

.categorii .categori-container .owl-carousel .item .item-prop.item-pexels2 {
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(0, 0, 0, 0.336)), color-stop(50%, rgba(0, 0, 0, 0.342)), color-stop(75%, rgba(0, 0, 0, 0.322)), to(rgba(0, 0, 0, 0.315))), url("../pexels-photo-4705634.jpeg");
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.336) 25%, rgba(0, 0, 0, 0.342) 50%, rgba(0, 0, 0, 0.322) 75%, rgba(0, 0, 0, 0.315) 100%), url("../pexels-photo-4705634.jpeg");
  background-size: cover;
  background-position: center;
}

.categorii .categori-container .owl-carousel .item .item-prop.item-pexels3 {
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(0, 0, 0, 0.336)), color-stop(50%, rgba(0, 0, 0, 0.342)), color-stop(75%, rgba(0, 0, 0, 0.322)), to(rgba(0, 0, 0, 0.315))), url("../pexels-photo-5989145.jpeg");
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.336) 25%, rgba(0, 0, 0, 0.342) 50%, rgba(0, 0, 0, 0.322) 75%, rgba(0, 0, 0, 0.315) 100%), url("../pexels-photo-5989145.jpeg");
  background-size: cover;
  background-position: center;
}

.categorii .categori-container .owl-carousel .item .item-prop.item-pexels4 {
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(0, 0, 0, 0.336)), color-stop(50%, rgba(0, 0, 0, 0.342)), color-stop(75%, rgba(0, 0, 0, 0.322)), to(rgba(0, 0, 0, 0.315))), url("../pexels-photo-3190541.jpeg");
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.336) 25%, rgba(0, 0, 0, 0.342) 50%, rgba(0, 0, 0, 0.322) 75%, rgba(0, 0, 0, 0.315) 100%), url("../pexels-photo-3190541.jpeg");
  background-size: cover;
  background-position: center;
}

/* Media Queries */
@media (max-width: 1200px) {
  .padding-all {
    padding-right: 60px;
    padding-left: 60px;
  }
  .categorii .categori-container .categori-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0;
    margin-bottom: 20px;
  }
  .title-section {
    color: #002B63;
    font-size: 25px;
    font-weight: 550;
  }
  .title-link {
    color: #00B9FF;
    padding-left: 35px;
    font-size: 14px;
  }
}
/*# sourceMappingURL=index.css.map */